# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
.venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Testes e cobertura (Pytest / Coverage)
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
htmlcov/

# Variaveis de ambiente e segredos
.env
.env.*
!.env.example

# IDEs e Editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*~

# Sistema Operacional
.DS_Store
Thumbs.db

# Dados locais do MongoDB (caso montado como pasta local)
mongo_data/
*.log
